<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectDB" connectionString="Data Source=NGUYEN-CONG-GIO\MSSQLSERVER05;Initial Catalog=QuanLyKho;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False"/>
	</connectionStrings>
</configuration>